<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentCoursePlatform</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>StudentCoursePlatform.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateIdentificationServlet</display-name>
    <servlet-name>UpdateIdentificationServlet</servlet-name>
    <servlet-class>StudentCoursePlatform.UpdateIdentificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateIdentificationServlet</servlet-name>
    <url-pattern>/UpdateIdentificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdressServlet</display-name>
    <servlet-name>UpdateAdressServlet</servlet-name>
    <servlet-class>StudentCoursePlatform.UpdateAdressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdressServlet</servlet-name>
    <url-pattern>/UpdateAdressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEducationServlet</display-name>
    <servlet-name>UpdateEducationServlet</servlet-name>
    <servlet-class>StudentCoursePlatform.UpdateEducationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEducationServlet</servlet-name>
    <url-pattern>/UpdateEducationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUniversityInfoServlet</display-name>
    <servlet-name>UpdateUniversityInfoServlet</servlet-name>
    <servlet-class>StudentCoursePlatform.UpdateUniversityInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUniversityInfoServlet</servlet-name>
    <url-pattern>/UpdateUniversityInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateJobInfoServlet</display-name>
    <servlet-name>UpdateJobInfoServlet</servlet-name>
    <servlet-class>StudentCoursePlatform.UpdateJobInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateJobInfoServlet</servlet-name>
    <url-pattern>/UpdateJobInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCoursesServlet</display-name>
    <servlet-name>AddCoursesServlet</servlet-name>
    <servlet-class>StudentCoursePlatform.AddCoursesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCoursesServlet</servlet-name>
    <url-pattern>/AddCoursesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCoursesServlet</display-name>
    <servlet-name>ListCoursesServlet</servlet-name>
    <servlet-class>StudentCoursePlatform.ListCoursesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCoursesServlet</servlet-name>
    <url-pattern>/ListCoursesServlet</url-pattern>
  </servlet-mapping>
</web-app>