@CHARSET "UTF-8";


div#topdiv{
	
	position:absolute;
	width:100%;
	height:100%;
}

div#topBar{
	
	position:absolute;
	top:100px;
	left:50px;
	width:200px;
	height:800px;
	padding-left:0px;
	
}
div#container {
	
	position:absolute;
	top:120px;
	left:320px;
	width:80%;
	height:100px;
	
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

body {
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

a{
	text-decoration:none;
	decoration:none;
	color:black;
	
}

